<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portifólio | Alex Lincon</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/flex.css"/>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    
</head>
<header th:fragment="header">
    <nav class="navbar">
      <a class="logo" href="/">DevJobs</a>
     
      <ul class="nav-list">
        <li class="nav-iten"><a class="nav-link " href="#">Cadastre seu Curriculo</a></li>        
        <li class="nav-iten"><a class="nav-link" href="">Empresa Cadastre Uma Vaga</a></li>
        <li class="nav-iten"><a class="nav-link login" href="#">Login</a><a href="#">Cadastre-se</a></li>
      </ul>
      <div class="hamburguer">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </nav>
  </header>